/* src/css/SearchComponent.css */

.search-component {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the end (right) */
    justify-content: center;
    text-align: center;
    position: absolute;  /* Fixed positioning to stay in place */
    top: 20px; /* Distance from the top of the viewport */
    right: 20px; /* Distance from the right side of the viewport */
}

input[type="text"] {
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #111827;
    width: 300px; /* Width of the input box */
    margin-right: 10px;
}

.suggestions {
    padding: 0;
    margin: 0; /* Remove margin to prevent pushing content */
    text-align: left;
    position: absolute; /* Position absolutely within search component */
    top: 100%; /* Position below the input field */
    z-index: 10; /* Ensure suggestions are above other content */
    border: 1px solid #ccc; /* Add a border for clarity */
    border-radius: 6px; /* Rounded corners for suggestions */
    background-color: #fff;
}
