.trending-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  margin: 0px 0;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: space-between; /* Distribute cards evenly */
  overflow-x: auto;  /* Add horizontal scrolling */
}

.divider {
  padding-left: 3rem;
  font-size: 1.5rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 10 - 15px);  /* Scale to 10 items in one row */
  min-width: 200px;  /* Ensure minimum width for each card */
}

.poster-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 2 / 3;
  border-radius: 5%;
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
}

.service-logo {
  width: 30px;
  height: 30px;
}
